.center{
    text-align: center !important;
    margin-top: 24px !important;
    margin-left: 25vw !important;
    margin-right: 25vw !important;
    justify-content: center !important
}

.quemSomos{
    text-align: center;
    color: #4d3efc !important;
    font-family: 'Quicksand' !important;
    margin-bottom: -32px !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    font-weight: bold !important;
    justify-content: center !important;
    margin-top: 24px !important
}

.text-sobre {
    text-align: justify;
    color: black !important;
    font-family: 'Quicksand' !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    justify-content: center !important;
    margin-bottom: 40px !important
}

.text-sobre-2 {
    margin-top: 42px !important;
    text-align: justify;
    color: black !important;
    font-family: 'Quicksand' !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    justify-content: center !important
}