.cor-navbar {
  background: #D2FCF6 !important;
}

.principais {
  font-family: 'Quicksand' !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  color: black !important;
  margin-right: 24px !important;
}

.btn-logout {
  border: 1px solid black !important;
  color: black !important;
}

.btn-logout:hover {
  border: 1px solid red !important;
  color: white !important;
  background: red !important;
}

.gap-navbar {
  gap: 50px !important;
}