.fundo{
    background-image: url("/src/assets/rainbow-vortex_1.png");
    width: 100vw;
    background-size: cover;
    min-height:100vh ;
}

.fundoForm{
    background-color: rgb(29, 10, 51);
    padding: 5rem;
    margin: 5rem;
    border-radius: 20px;
}

.forms{
    color: white !important;
}

.loginho{
    background-image: url('/src/assets/logo.png') !important;
}

.textos2{
    font-weight: bold !important;
}

.btnCadastrar {
    background: linear-gradient(90deg, #1FA2FF 0%, #12D8FA 50%, #A6FFCB 100%);
    color: black !important;
}

.btnCancelar {
    background-color: rgb(253, 25, 112) !important;
    color: black !important;
}

.MuiInput-underline::before {
    border-bottom: 1px solid #CCCCCC !important;
  }
  
  .MuiInputLabel-root {
    color: #CCCCCC !important;
  }